<div id="main-content">
	<div class="container-fluid">
		<div class="card">
			<div class="header">
				<img *ngIf="isClear()" src="/assets/img/sun.gif" class="centered-image">
				<img *ngIf="isClouds()" src="/assets/img/cloud.gif" class="centered-image">
				<img *ngIf="isRain()" src="/assets/img/rain.gif" class="centered-image">
			</div>
			<div class="content table-responsive table-full-width">
				<table class="table table-hover table-striped">
					<tbody>
						<tr><td>Ville : {{name}}</td></tr>
						<tr><td>Temperature : {{temp}}°C</td></tr>
						<tr><td>Type de temps : {{typeDeTemp}}</td></tr>
						<tr><td>Vitesse du vent : {{windSpeed}} km/h</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>