
<!--<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-offset-md-1"> -->
        <div id="main-content">
            <div class="container-fluid">
                <div class="card list-card">
                    <div class="header">
                        <img class="handpointer" width="50px" src="/assets/img/warning_alert.png" (click)="getClients()">
                        <h4 class="title">Liste des clients</h4>

                        <form [formGroup]="researchForm" class="form-inline pull-right form-group">

                            <label for="research">Rechercher un client</label>
                            <input type="text" class="form-control" formControlName="research">
                            <img class="centered-image handpointer" width="50px" src="/assets/img/warning_alert.png" (click)="RechercheClientParNom()">
                            
                        </form>   
                    </div>                   

                    <div class="content table-responsive table-full-width">
                      <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>prenom</th>
                                <th>address</th>
                                <th>email</th>
                                <th>numero client</th>
                                <th>idConseiller</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients">
                                <th scope="row">{{client.id}}</th>
                                <td>{{client.lastName}}</td>
                                <td>{{client.firstName}}</td>
                                <td>{{client.address}}</td>
                                <td>{{client.email}}</td>
                                <td>{{client.numeroclient}}</td>
                                <td *ngIf=isAttributed(client)>{{client.idConseiller}}</td>
                                <td *ngIf=!isAttributed(client)>Client non attribué</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-fill" (click)="editClientPage(client)">Modifier</button>
                                    <button type="button" class="btn btn-danger delete btn-fill" (click)="onDelete(client)">Supprimer</button>
                                    <div> 
                                        <button [disabled]="!isAttributed(client)" type="button" class="btn btn-warning btn-fill" (click)="unAttributeClient(client)">Desattribuer client</button>
                                    </div>
                                </td>          
                            </tr>  
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary btn-fill pull-right" (click)="redirectNewClientPage()">Nouveau client</button>          
                </div>
            </div> 
            <router-outlet></router-outlet>   
        </div>
        <!--</div> -->
    </div>
