 <div class="row">
          <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="card">
<div class="header">
	 <h4 class="title">Connexion</h4>
</div>
<div class="content">
<form novalidate [formGroup]="guestSubscribeForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label>Email </label>
		<input type="Email" class="form-control" formControlName="email" required/>
	</div>
	<div class="form-group">
		<label>Mot de passe</label>
		<input type="password" class="form-control" formControlName="password" required/>
	</div>
		<button type="submit" name="Se connecter" class="btn btn-fill btn-info" >Se connecter</button>
</form>
</div>
</div>
</div>
</div>
