
<!--<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-offset-md-1"> -->

        <div id="main-content">
            <div class="container-fluid">
                <div class="card list-card">
                    <div class="header">
                        <h4 class="title">Liste des conseillers</h4> 
                                             
                    </div>
                    <div class="content table-responsive table-full-width">
                      <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Adresse</th>
                                <th>Email</th>
                                <th>Numéro de téléphone</th>
                                <th>Matricule</th>
                                <th>Date de début de contrat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let conseiller of conseillers">
                                <th scope="row">{{conseiller.id}}</th>
                                <td>{{conseiller.lastName}}</td>
                                <td>{{conseiller.firstName}}</td>
                                <td>{{conseiller.address}}</td>
                                <td>{{conseiller.email}}</td>
                                <td>{{conseiller.phonenumber}}</td>
                                <td>{{conseiller.matricule}}</td>
                                <td>{{conseiller.contratStartingDate | date:'fullDate'}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-fill" (click)="editConseillerPage(conseiller)">Editer</button>
                                    <button type="button" class="btn btn-danger delete btn-fill" (click)="onDelete(conseiller)">Supprimer</button>
                                </td>          
                            </tr>  
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary btn-fill pull-right" (click)="redirectNewConseillerPage()">Nouveau conseiller</button>          
                </div>
            </div> 
            <router-outlet></router-outlet>   
        </div>
        <!--</div> -->

