<div class="container-fluid">
    <div class="card">
        <div class="header">
            <h4 class="title">Liste des conseillers</h4>                      
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>prenom</th>
                        <th>address</th>
                        <th>email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let conseiller of conseillers">
                        <th scope="row">{{conseiller.id}}</th>
                        <td>{{conseiller.lastName}}</td>
                        <td>{{conseiller.firstName}}</td>
                        <td>{{conseiller.address}}</td>
                        <td>{{conseiller.email}}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-fill pull-right" (click)="AttributeConseiller(conseiller)">Attribuer{{client.lastName}} {{client.firstName}} à ce conseiller</button>
                        </td>          
                    </tr>
                    <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-warning btn-fill pull-right" (click)="Cancel()">Annuler</button>
                    </td> 
                </tr>  
                </tbody>
            </table>   
        </div>
    </div> 
</div>



