<nav class="navbar navbar-default">
    <div class="container-fluid container-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >{{getTitle()}}</a>
            <a *ngIf=!isGuest() class="navbar-toggle" data-toggle="collapse" (click)="Deconexion()">
                <img src="../assets/img/icond.jpg">
            </a>
             <a *ngIf=isGuest() class="navbar-toggle" data-toggle="collapse" routerLink="/inscription">
                <img src="../assets/img/iconi.jpg">
            </a>
             <a *ngIf=isGuest() class="navbar-toggle" data-toggle="collapse" routerLink="/connexion">
                <img src="../assets/img/iconc.jpg">
            </a>
        </div>
        <div class="collapse navbar-collapse">       
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf=isGuest()>
                    <a routerLink="/connexion">
                        <img src="../assets/img/connexion.jpg"/>
                    </a>
                </li>
                <li *ngIf=isGuest()>
                    <a routerLink="/inscription">
                        <img src="../assets/img/inscription.jpg"/>
                    </a>            

                    <div class="logo">
                        <a routerLink="/connexion">
                        </a>
                    </div>
                </li>
                <li *ngIf=!isGuest() class="handpointer">
                    <a (click)="Deconexion()">
                        <img src="../assets/img/deconnexion.jpg"/>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>
