<img class="centered-image" src="/assets/img/alert-warning.svg_.png">

<h2>
	Une erreur est survenue ! Nous sommes désolé pour la genne occasioné. Réessayer plus tard.

</h2>
<div class="row">
<div class="col-md-5"></div>
<div class="col-md-4">
	<button type="button" class="btn btn-primary btn-fill pull" (click)="redirectAcceuil()">Retour à l'Acceuil</button>
</div>
<div class="col-md-3"></div>
</div>
<br>
 <p> Si le problème persiste veuillez contacter le webmaster à l'addresse suivante : admin@mail.com </p>