<div class="row">
  <div class="col-md-8 col-md-6">
    <div class="thumbnail">
      <img src="assets/img/cb.gif" alt="...">
      <div class="caption">
        <h3>La carte MasterCard POEI</h3>
        <FONT size="2" face="Verdana">SKYNET, la banque en ligne qui propose un compte courant avec une carte Mastercard POEI gratuite sous conditions. Précurseur de la relation bancaire à distance, SKYNET revendique une offre basée sur la simplicité.
  		</FONT>
       <nav><a [routerLink]="['/inscription']">
         <button class="btn btn-info">Plus d'infos</button>
       </a> </nav>


      </div>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/assets/img/connexion.jpg">
    </a>
  </div> -->


<!-- <div >
  	<p>
  		 <FONT size="2" face="Verdana">SKYNET, la banque en ligne qui propose un compte courant avec une carte Mastercard POEI gratuite sous conditions. Précurseur de la relation bancaire à distance, SKYNET revendique une offre basée sur la simplicité.

A l’instar des autres offres de banques en ligne, SKYNET propose gratuitement un grand nombre de services bancaires dont les plus courants sont la fourniture d’une carte bancaire, les retraits d’argent aux distributeurs, l’envoi de chéquier à domicile, les virements et prélèvements, les commissions d’intervention… Pour pratiquer des frais réduits par rapport aux établissements traditionnels, la banque en ligne applique au compte courant le même modèle que pour ses autres produits : faire profiter le client des économies réalisées grâce à l'absence de réseau physique.
</FONT><BR>
  
 </p>


</div>
 -->
