<div class="wrapper">
    <div class="sidebar" data-color="gray" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-55.jpg)"></div>
    </div>
    <div class="main-panel">
    <navbar-cmp [utilisateur] = "userType"></navbar-cmp>
<nav>
	<a routerLink="/admin" routerLinkActive="active">Espace Admin</a>
	<a routerLink="/client" routerLinkActive="active">Espace Client</a>
	<a routerLink="/conseiller" routerLinkActive="active">Espace Conseiller</a>
</nav>
<router-outlet></router-outlet>
    </div>
</div>