<div class="sidebar-wrapper">
    <div class="logo">
            <img src="../assets/img/logo.jpg">
    </div>
    <!--Les éléments liés à la directive *ngIf="isMobileMenu()" ne sont chargés que sur un ecran de petite taille -->
    <ul class="nav responsive-nav">
        <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
