/*form {
  background-color:white;
  margin: 0 auto;
  width: 600px;
  height: 560px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}*/
/*form div + div {
  margin-top: 1em;
}


input, textarea {
  font: 1em sans-serif;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px; 
}

button {
  margin-left: .5em;
}*/